<div class="cal-week-box" ng-class="{'cal-day-box': (vm.showTimes||vm.showCategories)}">
  <div class="cal-row-fluid cal-row-head">

    <div
      class="cal-hour-14"
      style="display: inline-block;text-align:center;"
      ng-repeat="hour in vm.hours track by $index"
      mwl-element-dimensions="vm.dayColumnDimensions">

      <span ng-bind="hour.label"></span>

    </div>

  </div>

  <div class="cal-day-panel clearfix" ng-style="{height: (vm.showTimes||vm.showCategories) ? (vm.dayViewHeight + 'px') : 'auto'}">

    <mwl-calendar-hour-list
      day-view-start="vm.dayViewStart"
      day-view-end="vm.dayViewEnd"
      day-view-split="vm.dayViewSplit"
      view-date="vm.viewDate"
      on-timespan-click="vm.onTimespanClick"
      ng-if="vm.showTimes">
    </mwl-calendar-hour-list>

    <mwl-calendar-category-list
      categories="vm.categories"
      ng-if="vm.showCategories">
    </mwl-calendar-category-list>

    <div class="row">
      <div class="col-xs-12">
        <div
          class="cal-row-fluid "
          ng-repeat="event in vm.view track by event.$id">
          <div
            ng-class="'cal-cell' + (vm.showTimes ? 1 : event.daySpan) + ((vm.showTimes||vm.showCategories) ? '' : ' cal-offset' + event.dayOffset) + ' day-highlight dh-event-' + event.type + ' ' + event.cssClass"
            ng-style="{
              top: (vm.showTimes||vm.showCategories) ? ((event.top + 2) + 'px') : 'auto',
              position: (vm.showTimes||vm.showCategories) ? 'absolute' : 'inherit',
              width: (vm.showTimes||vm.showCategories) ? (vm.dayColumnDimensions.width*event.duration) + 'px' : '',
              left: (vm.showTimes||vm.showCategories) ? (vm.dayColumnDimensions.width*event.dayOffset) + 12 + 'px' : ''
            }"
            data-event-class
            mwl-draggable="event.draggable === true"
            axis="(vm.showTimes||vm.showCategories) ? 'xy' : 'x'"
            snap-grid="(vm.showTimes||vm.showCategories) ? {x: vm.dayColumnDimensions.width, y: 30} : {x: vm.dayColumnDimensions.width}"
            on-drag="vm.eventDragged(event, y)"
            on-drag-end="vm.eventDragComplete(event, x, y)"
            mwl-resizable="event.resizable === true && event.endsAt && !(vm.showTimes)"
            resize-edges="{left: true, right: true}"
            on-resize="vm.eventResized(event, edge, x)"
            on-resize-end="vm.eventResizeComplete(event, edge, x)">
            <strong ng-bind="(event.tempStartsAt || event.startsAt) | calendarDate:'time':true" ng-show="vm.showTimes"></strong>
            <a
              href="javascript:;"
              ng-click="vm.onEventClick({calendarEvent: event})"
              class="event-item"
              ng-bind-html="vm.$sce.trustAsHtml(event.title)"
              uib-tooltip-html="event.title | calendarTrustAsHtml"
              tooltip-placement="left"
              tooltip-append-to-body="true">
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
