
<div class="cal-week-box" ng-class="{'cal-day-box': (vm.showTimes||vm.category.showCategories)}">
  <div class="row row-header table-mwl">
    <div class="col-xs-1 header-title general-row no-border" ng-if="vm.category.templateHeaderList">{{vm.category.templateHeaderList}}</div>
    <div class="col-xs-1 header-title general-row no-border" ng-if="vm.category.categoryHeaderList">{{vm.category.categoryHeaderList}}</div>
    <div class="col-xs-10 header-title general-row no-border">
      <div
        ng-class="{'today-row': vm.checkToday(hour)}"
        class="cal-hour-{{vm.hours.length}}"
        style="display: inline-block;text-align:center;"
        ng-repeat="hour in vm.hours track by $index"
        mwl-element-dimensions="vm.dayColumnDimensions">

        <span ng-bind="hour.label"></span>

      </div>
    </div>

  </div>

  <div class="row table-mwl">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <div
        style="position:relative;"
        ng-repeat="event in vm.view track by event.$id"
        ng-style="{
          top: event.top + 'px',
          position: 'inherit'
        }">
        <div
          ng-class="'grid-hour-' + vm.hours.length + '-' + event.hourSpan +  ' grid-hour-left-' + vm.hours.length + '-' + event.dayOffset + ' day-highlight dh-event-' + event.type + ' ' + event.cssClass"
          ng-style="{
            top: '0px',
            position: 'absolute',
            width: '',
            left: ''
          }"
          data-event-class
          uib-tooltip-html="event.tooltip(event) | calendarTrustAsHtml"
          tooltip-placement="bottom"
          tooltip-append-to-body="true">
          <strong ng-bind="(event.tempStartsAt || event.startsAt) | calendarDate:'time':true" ng-show="vm.showTimes"></strong>
          <a
            href="javascript:;"
            ng-click="vm.onEventClick({calendarEvent: event})"
            class="event-item"
            ng-bind-html="vm.$sce.trustAsHtml(event.title)">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row table-mwl" ng-repeat="category in vm.categories track by $index" ng-class="{first:$first, last:$last}">
    <div class="span1 col-xs-1 text-center general-row"><strong ng-bind="$eval(vm.category.templateList)"></strong></div>
    <div class="span1 col-xs-1 text-center general-row"><strong ng-bind="category.number"></strong></div>
    <div class="col-xs-10 general-row">
      <div class="line"></div>
      <div
        class="category-event cal-hour-{{vm.hours.length}}"
        ng-class="{first:$first, last:$last, 'today-row': vm.checkToday(hour)}"
        ng-repeat="hour in vm.hours track by $index"
        ng-click="vm.onRClick(hour, category)"
        uib-tooltip-html="vm.showTooltip(category) | calendarTrustAsHtml"
        tooltip-placement="bottom"
        tooltip-append-to-body="true">
      </div>
    </div>
  </div>
</div>
