<div class="cal-month-day">

    <span class="pull-right" data-cal-date ng-bind="day.label"></span>

    <small class="day-content" ng-repeat="d in vm.calendarCtrl.customData.calendarMonth" >
        <div ng-show="d.data|mIsSameDayMonth: day.date">
            <div class="bubble white">
                <div class="text">
                    {{d.free}}
                </div>
            </div>
            <div class="bubble black">
                <div class="text">
                    {{d.booked}}
                </div>
            </div>
        </div>
    </small>

    <div id="cal-week-box" ng-if="$first && rowHovered">
        {{ vm.calendarConfig.i18nStrings.weekNumber.replace('{week}', day.date.week()) }}
    </div>
</div>
