
<div class="cal-week-box" ng-class="{'cal-day-box': (vm.showTimes||vm.category.showCategories)}">
  <div class="row row-header table">
    <div class="col-xs-1 header-title general-row no-border" ng-if="vm.category.templateHeaderList">{{vm.category.templateHeaderList}}</div>
    <div class="col-xs-1 header-title general-row no-border" ng-if="vm.category.categoryHeaderList">{{vm.category.categoryHeaderList}}</div>
    <div class="col-xs-10 header-title general-row no-border">
      <div class="cal-row-fluid cal-row-head">
        <div
          class="cal-week-7 pointer"
          ng-repeat="day in vm.view.days track by $index"
          style="display: inline-block;text-align:center;"
          ng-class="{
            'cal-day-weekend': day.isWeekend,
            'cal-day-past': day.isPast,
            'cal-day-today': day.isToday,
            'cal-day-future': day.isFuture}"
          mwl-element-dimensions="vm.dayColumnDimensions"
          ng-click="vm.calendarCtrl.dateClicked(day.date)">

          <span ng-bind="day.weekDayLabel"></span>
          <small>
            <span
              data-cal-date
              ng-bind="day.dayLabel">
            </span>
          </small>

        </div>

      </div>
    </div>
  </div>

  <div class="row table">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <div
      style="position:relative;"
        ng-repeat="event in vm.view.events track by event.$id">
        <div
          ng-class="'grid-week-7-' + event.daySpan +  ' grid-week-left-7-' + event.dayOffset + ' day-highlight dh-event-' + event.type + ' ' + event.cssClass"
          ng-style="{
            top: (vm.showTimes||vm.category.showCategories) ? ((event.top + 2) + 'px') : 'auto',
            position: (vm.showTimes||vm.category.showCategories) ? 'absolute' : 'inherit',
            width: '',
            left: ''
          }"
          data-event-class
          uib-tooltip-html="event.tooltip(event) | calendarTrustAsHtml"
          tooltip-placement="bottom"
          tooltip-append-to-body="true"
          ng-click="vm.onEventClick(event)">
          <strong ng-bind="(event.tempStartsAt || event.startsAt) | calendarDate:'time':true" ng-show="vm.showTimes"></strong>
          <a
            href="javascript:;"
            class="event-item"
            ng-bind-html="vm.$sce.trustAsHtml(event.title)">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row table" ng-repeat="category in vm.categories track by $index" ng-class="{first:$first, last:$last}">
    <div class="span1 col-xs-1 text-center general-row"><strong ng-bind="$eval(vm.category.templateList)"></strong></div>
    <div class="span1 col-xs-1 text-center general-row"><strong ng-bind="category.number"></strong></div>
    <div class="col-xs-10 general-row" >
      <div class="line"></div>
      <div
        class="cal-week-7 category-event"
        ng-class="{first:$first, last:$last}"
        ng-repeat="day in vm.view.days track by $index"
        ng-click="vm.onRoomClick(day.date, category)"
        uib-tooltip-html="vm.showTooltip(category) | calendarTrustAsHtml"
        tooltip-placement="bottom"
        tooltip-append-to-body="true">
      </div>
    </div>
  </div>
</div>
