<div class="cal-row-fluid cal-row-head">

  <div class="cal-cell1" ng-repeat="day in vm.weekDays track by $index" ng-bind="day"></div>

</div>
<div class="cal-month-box">

  <div
    ng-repeat="rowOffset in vm.monthOffsets track by rowOffset"
    ng-mouseenter="rowHovered = true"
    ng-mouseleave="rowHovered = false">
    <div class="cal-row-fluid cal-before-eventlist table" ng-class="{first:$first, last:$last}">
      <div
        ng-repeat="day in vm.view | calendarLimitTo:7:rowOffset track by $index"
        ng-init="dayIndex = vm.view.indexOf(day)"
        class="cal-cell1 cal-cell general-row {{ day.highlightClass }}"
        ng-click="vm.dayClicked(day, false, $event)"
        ng-class="{pointer: true}">
        <ng-include src="vm.calendarConfig.templates.calendarMonthCell"></ng-include>
      </div>
    </div>

  </div>

</div>
